## Analysis of 3x3

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
from utils import *

%load_ext autoreload
%autoreload 2

### Compute all stats by per possession

In [11]:
dict_men_19 = pd.read_excel("https://fiba3x3cdn.blob.core.windows.net/documents/Statistics/2019/WorldTour/FIBA_3x3_Pro_Circuit_Stats_2019_update04-12-2020.xlsx", None)
dict_men_19.keys()

dict_keys(['Players', 'Team'])

In [13]:
df_men_19_team = dict_men_19['Team']
df_men_19_players = dict_men_19['Players']

df_men_19_team.head()
df_men_19_team.columns

Index(['Team', 'GP', 'PTS', 'PTSPG', 'SEFF', 'SVAL', 'WBL', 'HGL', 'HGLPG',
       'PT1', 'PTA1', 'PT1Percentage', 'PT2', 'PTA2', 'PT2Percentage', 'FT',
       'FTA', 'FTPercentage', 'FTES', 'DNK', 'BS', 'KAS', 'BZR', 'DRV', 'D5',
       'T5', 'REB', 'REBPG', 'OREB', 'DREB', 'TO', 'TOPG', 'TF', 'TFPG', 'TFA',
       'TFAPG', 'POSPG', 'PTA2_FGA'],
      dtype='object')

In [97]:
df_men_19_team.GP * df_men_19_team.POSPG
df_men_19_team.columns
df_men_19_team.eval('BS.sum() / TF.sum()')
advanced_stats(df_men_19_team)

,Team,GP,PTS,PTSPG,SEFF,SVAL,WBL,HGL,HGLPG,1PTM,...,TFAPOS,TFPOS,TOTF,BSTF,TOTFA,TFTFA,FTATFA,FTESTFA,FTMTFA,FTESFTA
0,Novi Sad,76,1493,19.644737,0.64,955.5,50,622,8.184211,765,...,0.228458,0.202372,0.673828,0.193359,0.596886,0.885813,0.638408,0.230104,0.453287,0.360434
1,NY Harlem,76,1468,19.315789,0.58,851.4,42,630,8.289474,823,...,0.180625,0.146203,0.851942,0.286408,0.689587,0.809430,0.524558,0.147348,0.332024,0.280899
2,Liman,89,1737,19.516854,0.62,1076.9,50,654,7.348315,897,...,0.209190,0.206298,0.669782,0.116822,0.660522,0.986175,0.565284,0.196621,0.368664,0.347826
3,Šakiai,52,974,18.730769,0.59,574.7,23,343,6.596154,475,...,0.185996,0.170131,0.710611,0.151125,0.650000,0.914706,0.517647,0.155882,0.355882,0.301136
4,Edmonton,55,1017,18.490909,0.59,600.0,25,330,6.000000,537,...,0.193413,0.167799,0.806854,0.143302,0.700000,0.867568,0.575676,0.172973,0.405405,0.300469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,ZhongGang,2,29,14.500000,0.64,18.6,0,12,6.000000,16,...,0.203704,0.222222,0.833333,0.083333,0.909091,1.090909,0.545455,0.090909,0.454545,0.166667
119,Changzhou,2,31,15.500000,0.48,14.9,0,6,3.000000,18,...,0.164557,0.189873,1.000000,0.200000,1.153846,1.153846,0.461538,0.000000,0.230769,0.000000
120,Saigon,2,29,14.500000,0.63,18.3,0,13,6.500000,11,...,0.074074,0.185185,0.900000,0.100000,2.250000,2.500000,1.000000,0.250000,0.500000,0.250000
121,Yunlin,2,27,13.500000,0.61,16.5,0,4,2.000000,11,...,0.094340,0.150943,1.125000,0.000000,1.800000,1.600000,0.200000,0.000000,0.000000,0.000000
122,Rome,2,24,12.000000,0.36,8.6,0,8,4.000000,17,...,0.192308,0.217949,0.941176,0.058824,1.066667,1.133333,0.666667,0.266667,0.333333,0.400000

In [96]:
season_stats(df_men_19_team, 2019)
#df_men_19_team

,POS_FIBA,POS_ESTIMATE,POSPG,1PT%,2PT%,FT%,OREB%,DREB%,FTOREB%,1PTMPTS,...,BSTF,TOTFA,TFTFA,FTATFA,FTESTFA,FTMTFA,FTESFTA,KASTO,KASFGM,season
0,54053.0,44879.864818,35.561184,0.562004,0.256089,0.632582,0.340231,0.659769,0.169335,0.509933,...,0.149159,0.784669,1.0,0.51365,0.153412,0.324926,0.298671,0.558049,0.243804,2019

### 2015-2020
combined 2015-2020 world tour stats only

In [40]:
dict_15_20 = pd.read_excel('https://fiba3x3cdn.blob.core.windows.net/documents/Statistics/2020/WorldTour/FIBA3x3_WT2015-2020_statistics.xlsx', None)
dict_WT20 = pd.read_excel('https://fiba3x3cdn.blob.core.windows.net/documents/Statistics/2020/WorldTour/FIBA3x3_WT2020_Tour_Statistics_Post-Final.xlsx', None)
dict_15_20.keys(), dict_WT20.keys()

(dict_keys(['Change log', 'Games Played', 'Team data Evolutions', 'Player data evolutions', 'WT 2015 Team', 'WT 2015 Player', 'WT 2016 Team', 'WT 2016 Player', 'WT 2017 Team', 'WT 2017 Player', 'WT 2018 Team', 'WT 2018 Player', 'WT 2019 Team', 'WT 2019 Player', 'WT 2020 Team', 'WT 2020 Player']),
 dict_keys(['Player', 'Teams']))

In [39]:
dict_15_20['Games Played']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
1,GP,266.0,302.0,304.0,380.0,456.0,188.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
4,Events in World Tour,7.0,8.0,8.0,10.0,12.0,5.0
5,Games played in World Tour,133.0,151.0,152.0,190.0,228.0,94.0
6,Number of teams,64.0,68.0,53.0,51.0,56.0,23.0
7,Number of players,257.0,280.0,221.0,224.0,244.0,108.0

In [41]:
dict_WT20['Teams']

,Team,GP,PTS,PTSPG,SEFF,SVAL,WBL,HGL,HGLPG,PT1,...,OREB,DREB,TO,TOPG,TF,TFPG,TFA,TFAPG,POSPG,PTA2_FGA
0,Šakiai,11,200,18.181818,0.60,120.0,4,86,7.818182,102,...,55,109,53,4.818182,78,7.090909,70,6.363636,34.636364,0.479100
1,NY Harlem,16,275,17.187500,0.56,154.0,7,99,6.187500,141,...,93,147,66,4.125000,108,6.750000,111,6.937500,33.562500,0.364486
2,Novi Sad,15,283,18.866667,0.61,172.6,7,121,8.066667,154,...,67,151,72,4.800000,100,6.666667,128,8.533333,33.800000,0.377604
3,Utena,13,243,18.692308,0.67,162.8,6,86,6.615385,118,...,50,150,64,4.923077,89,6.846154,94,7.230769,31.538462,0.359223
4,Liman,23,456,19.826087,0.64,291.8,11,166,7.217391,214,...,111,233,106,4.608696,166,7.217391,180,7.826087,34.043478,0.456343
5,Riga,22,445,20.227273,0.62,275.9,15,177,8.045455,194,...,139,256,100,4.545455,163,7.409091,156,7.090909,36.000000,0.511774
6,Ub,9,165,18.333333,0.61,100.6,4,55,6.111111,76,...,33,68,31,3.444444,49,5.444444,65,7.222222,31.666667,0.392857
7,Piran,11,187,17.000000,0.52,97.2,2,63,5.727273,88,...,62,106,68,6.181818,79,7.181818,87,7.909091,36.454545,0.490132
8,Amsterdam,6,102,17.000000,0.52,53.0,2,45,7.500000,50,...,31,78,30,5.000000,40,6.666667,44,7.333333,36.833333,0.527778
9,Manila,2,29,14.500000,0.45,13.0,0,13,6.500000,10,...,14,16,11,5.500000,16,8.000000,7,3.500000,37.000000,0.661017
10,Lausanne,11,196,17.818182,0.61,119.6,3,79,7.181818,82,...,52,91,50,4.545455,76,6.909091,70,6.363636,33.090909,0.479592
11,Princeton,3,54,18.000000,0.59,31.9,2,22,7.333333,17,...,12,33,13,4.333333,19,6.333333,21,7.000000,34.000000,0.666667
12,Jeddah,13,226,17.384615,0.56,126.6,0,87,6.692308,119,...,66,140,66,5.076923,104,8.000000,93,7.153846,35.000000,0.416901
13,Ulaanbaatar,7,110,15.714286,0.58,63.8,0,27,3.857143,61,...,46,47,42,6.000000,54,7.714286,42,6.000000,32.285714,0.471264
14,Gagarin,2,29,14.500000,0.60,17.4,1,13,6.500000,14,...,3,15,13,6.500000,17,8.500000,14,7.000000,29.500000,0.341463
15,Zemun,2,27,13.500000,0.48,13.0,0,16,8.000000,19,...,12,17,8,4.000000,18,9.000000,15,7.500000,31.000000,0.294118
16,Humpolec,4,48,12.000000,0.39,18.7,0,17,4.250000,31,...,36,28,21,5.250000,38,9.500000,21,5.250000,35.000000,0.437500
17,Lusail,3,35,11.666667,0.47,16.4,0,19,6.333333,24,...,11,33,16,5.333333,11,3.666667,15,5.000000,29.666667,0.447761
18,Bielefeld,3,45,15.000000,0.50,22.5,1,16,5.333333,19,...,18,29,15,5.000000,16,5.333333,16,5.333333,34.666667,0.566265
19,Yoyogi,2,31,15.500000,0.48,14.9,0,12,6.000000,15,...,15,22,15,7.500000,12,6.000000,14,7.000000,38.500000,0.481481
20,Debrecen,5,65,13.000000,0.52,33.8,0,30,6.000000,35,...,13,46,42,8.400000,34,6.800000,22,4.400000,33.000000,0.458333
21,Graz,3,56,18.666667,0.58,32.5,0,20,6.666667,27,...,12,28,17,5.666667,27,9.000000,29,9.666667,35.000000,0.302632
22,Tallinn,2,23,11.500000,0.38,8.7,0,8,4.000000,10,...,11,31,20,10.000000,11,5.500000,11,5.500000,40.500000,0.385965

In [34]:
df_WT20 = dict_15_20['WT 2020 Team']
WT20_columns = set(df_WT20.columns)
procircuit19_columns = set(df_men_19_team.columns)
WT20_columns.difference(procircuit19_columns), procircuit19_columns.difference(WT20_columns)

({'FT %',
  'L',
  'LTP',
  'PAPG',
  'PT1 %',
  'PT2 %',
  'RPEoS',
  'RankEoS',
  'SVALPG',
  'W',
  'W %',
  'WTP'},
 {'FTPercentage', 'PT1Percentage', 'PT2Percentage'})

### Piet Van Hasselt Schick Cup 2020 offense outcome by possession

checkball 0.5-0.6 PPP from Schick cup 2020 and analysis of 2019 World cup men's

In [9]:
df_schickcup20 = pd.DataFrame(columns=['1PT', '1PTA', '2PT', '2PTA', 'FT', 'FTA'], index = ['transition','checkball','oreb'],
                            data = [[322,553, 246, 762, 76, 118],[121,191,52,203,12,21],[85,146,19,59,15,19]])
df_schickcup20

            1PT  1PTA  2PT  2PTA  FT  FTA
transition  322   553  246   762  76  118
checkball   121   191   52   203  12   21
oreb         85   146   19    59  15   19

In [14]:
offense = 'transition'
PPP_tran = (df_schickcup20.loc[offense,'1PT'] + 2*df_schickcup20.loc[offense,'2PT'])/(df_schickcup20.loc[offense,'1PTA'] + df_schickcup20.loc[offense,'2PTA'])
offense = 'checkball'
PPP_check = (df_schickcup20.loc[offense,'1PT'] + 2*df_schickcup20.loc[offense,'2PT'])/(df_schickcup20.loc[offense,'1PTA'] + df_schickcup20.loc[offense,'2PTA'])
offense = 'oreb'
PPP_oreb = (df_schickcup20.loc[offense,'1PT'] + 2*df_schickcup20.loc[offense,'2PT'])/(df_schickcup20.loc[offense,'1PTA'] + df_schickcup20.loc[offense,'2PTA'])
PPP_tran_oreb = (df_schickcup20.loc['transition','1PT'] + df_schickcup20.loc['oreb','1PT'] + 2* df_schickcup20.loc['transition','2PT']+ 2*df_schickcup20.loc['oreb','2PT'])/(df_schickcup20.loc['transition','1PTA'] + df_schickcup20.loc['transition','2PTA'] + df_schickcup20.loc['oreb','1PTA'] + df_schickcup20.loc['oreb','2PTA'])

PPP_tran, PPP_check, PPP_oreb, PPP_tran_oreb

(0.6190114068441065, 0.5710659898477157, 0.6, 0.6164473684210526)